.author-cards {
  @extend %base-padding-margin-settings;
    list-style: none;
    margin-bottom: 61px;
    &__title {
      margin-bottom: 14px;
      font-size: 40px;
      line-height: 100%;  
      letter-spacing: -0.01em;
    }
}
.author-cards:last-of-type {
  margin-bottom: 0;
}