@use "sass:math";

.play-cards {
  @extend %base-padding-margin-settings;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: math.div(29px,780px)*100%;
  row-gap: math.div(29px,780px)*100%;
  list-style: none;
}