@use "sass:math";

%base-padding-margin-settings {
  padding: 0;
  margin: 0;
}

%box-sizing {
  box-sizing: border-box;
}

%base-font-settings {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  color: #242424;
}



























