@import '../vendor/normalize.css';
.input, .submit, .author-cards, .play-card__info, .play-card__author, .play-cards, .text, .section__authors {
  padding: 0;
  margin: 0;
}

.form, .play-card__info, .play-card__author, .play-card__background-image, .play-card {
  box-sizing: border-box;
}

.submit, .page {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  color: #242424;
}

.page {
  background-color: #E5E5E5;
  min-width: 320px;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 83.194%;
  padding-top: 13.125%;
  padding-bottom: 13.125%;
  display: grid;
  grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
  justify-items: start;
  justify-content: start;
  grid-template-areas: "search ." "plays authors";
  column-gap: 94px;
  row-gap: 65px;
}

@media screen and (max-width: 1250px) {
  .container {
    grid-template-columns: minmax(min-content, max-content);
    grid-template-areas: "search" "plays" "authors";
  }
}
.section__search {
  grid-area: search;
  min-width: 507px;
}
@media screen and (max-width: 940px) {
  .section__search {
    max-width: 509px;
  }
}
.section__plays {
  grid-area: plays;
  min-width: 778px;
}
.section__authors {
  grid-area: authors;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1250px) {
  .section__authors {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
    column-gap: 29px;
    row-gap: 29px;
  }
}
@media screen and (max-width: 1250px) and (max-width: 940px) {
  .section__authors {
    max-width: 509px;
  }
}

@media screen and (max-width: 940px) {
  .section {
    min-width: 509px;
  }
}
.header {
  max-width: 740px;
  min-width: 100%;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: -0.01em;
}
.header_margin {
  margin-bottom: 25px;
}

.play-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  column-gap: 29px;
  row-gap: 29px;
  list-style: none;
}

.play-card {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.play-card__background-image {
  height: 300px;
  padding: 24px;
  background: #B7C09D;
}
.play-card__title {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
}
.play-card__author {
  padding-top: 16px;
  max-width: 190px;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
}
.play-card__info {
  padding-top: 4px;
  max-width: 155px;
  font-weight: 300;
  font-size: 16px;
  line-height: 137%;
}

.author-cards {
  list-style: none;
  margin-bottom: 61px;
}
.author-cards__title {
  margin-bottom: 14px;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.01em;
}

.author-cards:last-of-type {
  margin-bottom: 0;
}

.author-card {
  margin-bottom: 12px;
}
.author-card__content {
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.01em;
  font-feature-settings: "ss01" on;
}

.author-card:last-of-type {
  margin-bottom: 0px;
}

.form {
  height: 31px;
  border-radius: none;
  background: transparent;
  font-weight: 300;
  font-size: 18px;
  line-height: 128%;
  font-feature-settings: "ss01" on;
}

.form-search {
  width: 507px;
  display: flex;
  flex-direction: row;
  background-color: #E5E5E5;
}
.form-search__input {
  max-width: 387px;
  min-width: 76.331%;
}
.form-search__input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #E5E5E5 inset;
}
.form-search__submit {
  background-image: url(../images/arrow-right.svg);
  border-left: 1px solid #242424 !important;
  background-repeat: no-repeat;
  background-position: left;
}

.submit {
  width: 120px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #242424;
  font-weight: 300;
  font-size: 16px;
  line-height: 87%;
  cursor: pointer;
}

.input {
  display: block;
  border: none;
  outline: none;
  border-bottom: 1px solid #242424;
  background-color: inherit;
  font-family: inherit;
  font-style: inherit;
  color: inherit;
  font-weight: 300;
  font-size: 18px;
  line-height: 128%;
}

/*# sourceMappingURL=style.css.map */
