@use "sass:math";

.container {
  margin: 0 auto;
  max-width: 83.194%;
  padding-top: 13.125%;
  padding-bottom: 13.125%;
  display: grid;
  grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
  justify-items: start;
  justify-content: start;
  grid-template-areas:
  "search ."
  "plays authors";
  column-gap: 94px;
  row-gap: 65px;
  
}

@media screen and (max-width: 1250px) {
  .container {
    grid-template-columns: minmax(min-content, max-content);
    grid-template-areas:
    "search"
    "plays"
    "authors";
  }
}
